{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="row justify-content-center my-3">
        <div class="col-5">
            <img src="{% static 'quietSpot.webp' %}" class="img-fluid" alt="photo">
        </div>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="col-md-9 text-center">
            <h1 id="hometext" class="font-weight-bold">Alisa Crowe is hunkering down this winter...😞</h1>
        </div>
    </div>
    <h2 class="mt-5">Portfolio</h2>
    <hr>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <a href="{% url 'stockticker' %}">
                <img src="{% static 'stockticker.jpeg' %}" class="img-fluid mb-2" alt="stock photo">
            </a>
            <h3>Stock Ticker</h3>
            <p>Plotly Interactive Stock Graph</p>

        </div>
        <div class="col-lg-4 col-md-6">
            <a href="{% url 'mm_home' %}">
                <img src="{% static 'snippet.png' %}" class="img-fluid mb-2" alt="m and m photo">
            </a>
            <h3>Memory Match</h3>
            <p>Javascript Game</p>

        </div>
    </div>
{% endblock %}
